body {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 24px;
}

.recipe-list .btn {
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    background-color: lightcoral;
    display: block;
    height: auto;
    width: 500px;
    padding: 20px;
    border-radius: 25px;
    color: white;
    margin: 30px auto;
}

.title-and-img {
    text-align: center;
    margin: auto;
}

.central {
    text-align: center;
    border-radius: 25px;
    padding: 8px;
    margin: 24px;
}

img {
    height: 520px;
    width: auto;
}

h1 {
    font-size: 36px;
    text-align: center;
}

.title {
    background-color: rgb(255, 255, 173);
    color: rgb(0, 0, 0);
    
}

h2 {
    font-size: 30px;
}

.description {
    background-color: rgb(193, 243, 208);
}

.ingredients {
    background-color: rgb(200, 237, 250);
}

.steps {
    background-color: rgb(243, 216, 243);
}